/* Admin Panel Custom Styles */
.geo-banners-settings {
    margin-top: 20px;
}

.geo-banners-container {
    display: flex;
    justify-content: space-between;
}

.geo-banners-left {
    width: 65%;
}

.geo-banners-right {
    width: 30%;
}

.geo-banners-settings .form-table {
    width: 100%;
}

.geo-banners-settings textarea {
    font-family: monospace!important;
    width: 35%!important;
    height: 110px!important;
}

.geo-banners-settings .button-primary {
    margin-top: 10px;
}

.geo-instructions-box,
.geo-location-box {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
    .geo-banners-container {
        display: block;
    }

    .geo-banners-left,
    .geo-banners-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .geo-banners-settings textarea {
        width: 100%!important;
    }
}

#geo_banners_mobile_image_preview,
#geo_banners_desktop_image_preview {
    max-width: 300px;
    display: none;
}
