/* Geo Banner Custom Styles */
.geo-banner {
    display: none;
    text-align: center;
    max-width: 100%;
}

.geo-banner img {
    max-width: 100%;
    height: auto;
}

/* Add specific styles for mobile */
@media only screen and (max-width: 768px) {
    .geo-banner-mobile {
        display: block;
    }

    .geo-banner-desktop {
        display: none;
    }
}

/* Desktop display */
@media only screen and (min-width: 769px) {
    .geo-banner-mobile {
        display: none;
    }

    .geo-banner-desktop {
        display: block;
    }
}
